@CHARSET "ISO-8859-1";

#canvas {
	width: 100vw;
	height: 100vh;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -9999;
	transition: stroke 5s;
}

#datepicker {
	position: absolute;
	z-index: 10;
	display: none;
}

label {
	display: block;
	font-size: 1.25em;
	text-align: center;
	user-select: none;
}

#statistic {
	top: 30%;
	left: 5%;
	border-radius: 5px 5px 5px;
	position: absolute;
	z-index: 9;
	background-color: #f1f1f1;
	border: 1px solid #d3d3d3;
	text-align: center;
}

#statisticheader {
	user-select: none;
	padding: 10px;
	cursor: move;
	z-index: 10;
	background-color: #45a049;
	color: #fff;
}

#statistic>table {
	width: 100%;
	user-select: none;
}

tr[resourceId] {
	cursor: cell;
}

.Highlighted a {
	background-color: #ff000f !important;
	background-image: none !important;
	color: White !important;
	font-weight: bold !important;
	font-size: 12pt;
	cursor: no-drop;
}

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default,
	.ui-widget-header .ui-state-default, .ui-button,
	/* We use html here because we need a greater specificity to make sure disabled
works properly when clicked or hovered */ html .ui-button.ui-state-disabled:hover,
	html .ui-button.ui-state-disabled:active {
	background: #45a049;
}

.button {
	font-size: 1em;
	border: 0px solid;
	padding: 5px;
	background: #4CAF50;
	color: white;
	border-radius: 0.3em 0.3em 0.1em 0.1em;
	margin: 0.5em;
	user-select: none;
	box-shadow: none;
}

#pagebar {
	text-align: center;
	padding: 5px;
	background: #4CAF50;
	color: white;
}

.button>a:link {
	text-decoration: none;
	color: white;
}

.button>a:visited {
	text-decoration: none;
	color: white;
}

.button:hover {
	background: #4CAF50;
	box-shadow: 3px 3px 10px #9CAF96;
}

#reservation-list {
	position: fixed;
	top: 80%;
	left: 80%;
	text-align: center;
}

#back {
	position: fixed;
	top: 10%;
	left: 10%;
	text-align: center;
	font-size: 1.25em;
}

.message {
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translate(-50%, 0);
	padding: 2%;
	display: none;
	z-index: 1;
	color: white;
	text-align: center;
}

.container {
	width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 1%;
}

input[type=text] {
	width: 100%;
	padding: 3% 3%;
	margin: 1% 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 1.25em;
	text-align: center;
}

input[type=submit] {
	width: 100%;
	background-color: #4CAF50;
	color: white;
	padding: 2% 2%;
	margin: 1% 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	box-sizing: border-box;
}

input[type=submit]:hover {
	background-color: #45a049;
}

div {
	border-radius: 4px;
	background-color: #f2f2f2;
	box-shadow: 3px 3px 10px #9CAF96;
}